/*!
 * # papoGen 0.0.1 - Mixins
 */


/*** htext mixin ***/

@mixin htext-default {
    font-family: $font-family;
    line-height: 1.28571429em;
    margin: calc(2rem - 0.14285714em) 0em 1rem;
    font-weight: bold;
    padding: 0em;
}


/*** Grid ***/

@mixin grid-padding-h($top: 1rem, $bottom: 1rem) {
    padding-left: $top;
    padding-right: $bottom;
}

@mixin grid-padding-v($top: 1rem, $bottom: 1rem) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin grid-margin-v($top: 0rem, $bottom: 0rem) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin grid-ms-flex($align: stretch, $direction: row, $pack: inherit, $wrap: wrap) {
    -ms-flex-align: $align;
    -ms-flex-direction: $direction;
    -ms-flex-wrap: $wrap;
    @if ($pack==default) {
        -ms-flex-pack: $pack;
    }
}

@mixin grid-webkit-box($align: stretch, $direction: normal, $orient: horizontal, $pack: inherit) {
    -webkit-box-align: $align;
    -webkit-box-direction: $direction;
    -webkit-box-orient: $orient;
    @if ($pack==default) {
        -webkit-box-pack: $pack;
    }
}