/*!
 * # papoGen 0.0.1 - Mixins
 */


/*** Global ***/

@mixin animation($value) {
    animation: $value;
    -webkit-animation: $value;
    -moz-animation: $value;
    -ms-animation: $value;
}

@mixin box-shadow($value: none) {
    box-shadow: $value;
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
}

@mixin border-h($left: none, $right: none) {
    border-left: $value;
    border-right: $value;
}

@mixin border-v($left: none, $right: none) {
    border-top: $value;
    border-bottom: $value;
}

@mixin display($value) {
    @if ($value==flex) {
        display: $value;
        display: -webkit-box;
        display: -ms-flexbox;
    }
    @else if ($value==inline-flex) {
        display: $value !important;
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
    }
}

@mixin flex-align($value: stretch) {
    align-items: $value;
    -webkit-box-align: $value;
    -ms-flex-align: $value;
}

@mixin flex-direction($value: col) {
    flex-direction: $value;
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
}

@mixin flex-wrap($value: wrap) {
    flex-wrap: $value;
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    -ms-flex-wrap: $value;
}

@mixin font-smoothing($value) {
    font-smoothing: $value;
    -webkit-font-smoothing: $value;
    -moz-osx-font-smoothing: grayscale;
}

@mixin hyphens($value: auto) {
    hyphens: $value;
    -webkit-hyphens: $value;
    -moz-hyphens: $value;
    -ms-hyphens: $value;
}

@mixin margin-h($left: 0rem, $right: 0rem) {
    margin-left: $left;
    margin-right: $right;
}

@mixin margin-v($top: 0rem, $bottom: 0rem) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding-h($left: 1rem, $right: 1rem) {
    padding-left: $left;
    padding-right: $right;
}

@mixin padding-v($top: 1rem, $bottom: 1rem) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin position-h($left: 0, $right: 0) {
    left: $left;
    right: $right;
}

@mixin position-v($top: 0, $bottom: 0) {
    top: $top;
    bottom: $bottom;
}

@mixin transform($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

@mixin transition($value) {
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

@mixin user-select($value) {
    user-select: $value;
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
}


/*** RWD Design ***/


/*
 * - Breakpoint1: For all devices (xs / sm / md / lg / xl)
 * - Breakpoint2: For smaller devices (xs / sm / md)
 */

@mixin breakpoint1($point) {
    @if ($point==xs) {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if ($point==sm) {
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @else if ($point==md) {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }
    @else if ($point==lg) {
        @media only screen and (min-width: 1200px) and (max-width: 1919px) {
            @content;
        }
    }
    @else if ($point==xl) {
        @media only screen and (min-width: 1920px) {
            @content;
        }
    }
}

@mixin breakpoint2($point) {
    @if ($point==xs) {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if ($point==sm) {
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @else if ($point==md) {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }
}


/*** htext ***/

@mixin htext-default {
    font-family: $font-family;
    line-height: 1.28571429em;
    margin: calc(2rem - 0.14285714em) 0em 1rem;
    font-weight: bold;
    padding: 0em;
}


/*** Icon ***/

@mixin icon-font($style: normal, $variant: normal, $weight: normal) {
    font-style: $style;
    font-variant: $variant;
    font-weight: $weight;
}