/*!
 * # papoGen 0.0.1 - Variables
 */


/*** Positions ***/

$align-self-order: flex-start,
center,
flex-end;
$aligned-order: top,
middle,
bottom;
$flex-aligned-order: start,
center,
end;
$float-order: left,
right;
$text-align-order: left,
center,
right;
$position-order: top,
bottom,
left,
right;

/*** Size ***/

$size-order: mini,
tiny,
small,
big,
large,
huge,
massive;

/*** Colors ***/

$primary: #2D98DA !important;
$secondary: #1B1C1D !important;
$link: #2D98DA;
$link-hover: #45AAF2;
$red: #EB3B5A !important;
$orange: #FA8231 !important;
$yellow: #F7B731 !important;
$green: #20BF6B !important;
$teal: #0FB9B1 !important;
$blue: #2D98DA !important;
$navy: #3867D6 !important;
$purple: #8854d0 !important;
$pink: #E84393 !important;
$brown: #E58E26 !important;
$grey: #A5b1C2 !important;
$black: #1B1C1D !important;
$white: #FFFFFF !important;
$color-order: (red: $red, orange: $orange, yellow: $yellow, green: $green, teal: $teal, blue: $blue, navy: $navy, purple: $purple, pink: $pink, brown: $brown, grey: $grey, black: $black, white: $white);
$inv_red: #FC5C65 !important;
$inv_orange: #FD9644 !important;
$inv_yellow: #FED330 !important;
$inv_green: #26DE81 !important;
$inv_teal: #2BCBBA !important;
$inv_blue: #45AAF2 !important;
$inv_navy: #4B7BEC !important;
$inv_purple: #A55EEA !important;
$inv_pink: #FD79A8 !important;
$inv_brown: #FA983A !important;
$inv_grey: #D1D8E0 !important;
$inv_black: #545454 !important;
$inv_color-order: (red: $inv_red, orange: $inv_orange, yellow: $inv_yellow, green: $inv_green, teal: $inv_teal, blue: $inv_blue, navy: $inv_navy, purple: $inv_purple, pink: $inv_pink, brown: $inv_brown, grey: $inv_grey, black: $inv_black);

/*** Font ***/

$import-fonts: true !default;
$font-url: 'https://fonts.googleapis.com/css?family=Ubuntu:400,500' !default;
$font-name: 'Ubuntu';
$font-family: $font-name,
sans-serif !default;
$h1-size: 2.5rem;
$h2-size: 2rem;
$h3-size: 1.75rem;
$h4-size: 1.5rem;
$h5-size: 1.25rem;
$h6-size: 1rem;
$p-size: 1rem;
$h-size-order: (h1: $h1-size, h2: $h2-size, h3: $h3-size, h4: $h4-size, h5: $h5-size, h6: $h6-size);
$h1-sub-size: 1.2rem;
$h2-sub-size: 1.2rem;
$h3-sub-size: 1.1rem;
$h4-sub-size: 1.1rem;
$h5-sub-size: 1rem;
$h6-sub-size: 1rem;
$h-sub-size-order: (h1: $h1-sub-size, h2: $h2-sub-size, h3: $h3-sub-size, h4: $h4-sub-size, h5: $h5-sub-size, h6: $h6-sub-size);
$h-line-height: 1.33em;
$h-sub-line-height: 1.2em;
$h-font-weight: 500;
$h-sub-font-weight: 400;
$p-font-weight: 300;

/*** Icon ***/

$icons-path: '../icons' !default;
$icons-style: normal;
$icons-weight: normal;
$icons-variant: normal;

/*** RWD ***/


/* Definition
 * - Mobile (576px - 767px): xs
 * - Tablet (768px - 991px): sm
 * - Computer (992px - 1199px): md
 * - Large Monitor (1200px - 1919px): lg
 * - Widescreen (1920px -): xl
 */

$RWD: xs,
sm,
md,
lg,
xl;
$RWD-container-width: 723px,
933px,
1127px;
$RWD-container-width-inc: 2rem,
3rem,
5rem;

/*** Container ***/

$container-font-size: 1.14285714rem;

/*** Icon ***/

$icon-font-size: 0.4rem,
0.5rem,
0.75rem,
1.5rem,
2rem,
4rem,
8rem;

/*** List ***/

$list-font-size:0.78571429rem,
0.85714286rem,
0.92857143rem,
1.14285714em,
1.28571429em,
1.42857143em,
1.71428571em;

/*** Statistic ***/

$statistic-value-size: 1.5rem,
2rem,
3rem,
4rem,
5rem,
6rem;
$statistic-value-h-size: 1.5rem,
2rem,
2rem,
3rem,
4rem,
5rem;
$statistic-text-size: 1rem,
1rem,
1rem,
2rem,
2.5rem,
2.5rem;