/*!
 * # papoGen 0.0.1 - Variables
 */


/*** Positions ***/

$align-self-order: flex-start,
center,
flex-end;
$aligned-order: top,
middle,
bottom;
$flex-aligned-order: start,
center,
end;
$text-align-order: left,
center,
right,
justify;
$position-order: top,
bottom,
left,
right;

/*** Colors ***/

$primary: #2185D0 !important;
$secondary: #1B1C1D !important;
$link: #4183C4;
$link-hover: #1e70bf;
$color-order: (red: #DB2828, orange: #F2711C, yellow: #FBBD08, olive: #B5CC18, green: #21BA45, teal: #00B5AD, blue: #2185D0, violet: #6435C9, purple: #A333C8, pink: #E03997, brown: #A5673F, grey: #767676, black: #1B1C1D, white: #FFFFFF);
$red: #DB2828 !important;
$orange: #F2711C !important;
$yellow: #FBBD08 !important;
$olive: #B5CC18 !important;
$green: #21BA45 !important;
$teal: #00B5AD !important;
$blue: #2185D0 !important;
$violet: #6435C9 !important;
$purple: #A333C8 !important;
$pink: #E03997 !important;
$brown: #A5673F !important;
$grey: #767676 !important;
$black: #1B1C1D !important;
$white: #FFFFFF !important;

/*** Font ***/

$import-icons: true !default;
$icon-url: 'https://use.fontawesome.com/releases/v5.0.12/css/all.css';
$import-fonts: true !default;
$font-url: 'https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext' !default;
$font-name: 'Quicksand' !default;
$font-family: $font-name,
'Helvetica Neue',
Arial,
Helvetica,
sans-serif !default;
$h1-size: 2rem;
$h2-size: 1.71428571rem;
$h3-size: 1.28571429rem;
$h4-size: 1.07142857rem;
$h5-size: 1rem;

/*** RWD Design ***/


/* Definition
 * - Mobile (576px - 767px): xs
 * - Tablet (768px - 991px): sm
 * - Computer (992px - 1199px): md
 * - Large Monitor (1200px - 1919px): lg
 * - Widescreen (1920px -): xl
 */

$RWD: xs,
sm,
md,
lg,
xl;
$RWD-container-width: 723px,
933px,
1127px;
$RWD-container-width-inc: 2rem,
3rem,
5rem;