/*!
 * # papoGen 0.0.1 - Grid
 * - Prefix: grid
 */


/*** Grid ***/

.grid {
    @include display(flex);
    @include flex-align;
    @include flex-direction(row);
    @include flex-wrap;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    margin: -1rem;
    padding: 0rem;
    /* Remove Gutters */
    &.grid-relaxed {
        @extend .grid;
        @include margin-h(-1.5rem);
    }
    &.grid-exrelaxed {
        @extend .grid;
        @include margin-h(-2.5rem);
    }
    /* Preserve rows spacing on consecutive grids */
    +.grid {
        margin-top: 1rem;
    }
    /* Collapse margin on consecutive grid */
    >.grid {
        &:first-child {
            margin-top: 0rem;
        }
        &:last-child {
            margin-bottom: 0rem;
        }
    }
    /* Align dividers */
    .row+.divider {
        flex-grow: 1;
        margin: 1rem;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
    }
    .col+.grid-v.divider {
        height: calc(50% - 1rem);
    }
}


/*** Typs ***/


/** Types: Divided **/

.grid.grid-divided {
    &.grid-divided {
        &:not(.grid-v) {
            >.row {
                @include margin-v;
                /* No space on top of first row */
                &:first-child.col {
                    margin-top: 0rem;
                }
            }
            >.col:not(.row),
            >.row>.col {
                @include box-shadow(-1px 0px 0px 0px rgba(2, 3, 3, 0.15));
            }
            /* No divider on first col on row */
            >.col,
            >.row>.col {
                &:first-child {
                    @include box-shadow;
                }
            }
        }
        /* Vertically Divided */
        &.grid-v {
            >.row {
                position: relative;
                &:before {
                    @include box-shadow(0px -1px 0px 0px rgba(34, 36, 38, 0.15));
                    content: "";
                    height: 1px;
                    margin: 0rem 1rem;
                    position: absolute;
                    top: 0rem;
                    left: 0rem;
                    width: calc(100% - 2rem);
                }
                /* First Row Vertically Divided */
                &:first-child:before {
                    @include box-shadow;
                }
            }
            /* Swap from padding to margin on columns to have dividers align */
            >.col:not(.row),
            >.row>.col {
                @include margin-v(1rem);
                @include padding-v(0rem);
            }
        }
        /* Padded Horizontally Divided */
        &.grid-h,
        &.grid-padded:not(.grid-v):not(.grid-h) {
            width: 100%;
        }
        /* Relaxed */
        &.grid-relaxed.grid-v>.row:before {
            @include margin-h(1.5rem);
            width: calc(100% - 3rem);
        }
        &.grid-exrelaxed.grid-v>.row:before {
            @include margin-h(5rem);
            width: calc(100% - 5rem);
        }
        /* Inverted Divided */
        &.inverted {
            &:not(.grid-v) {
                >.col:not(.row),
                >.row>.col {
                    @include box-shadow(-1px 0px 0px 0px rgba(255, 255, 255, 0.1));
                    &:first-child {
                        @include box-shadow;
                    }
                }
            }
            &.grid-v {
                >.row:before {
                    @include box-shadow(0px -1px 0px 0px rgba(255, 255, 255, 0.1));
                }
            }
        }
    }
    /* Divided Row */
    >.grid-divided>.col {
        @include box-shadow(-1px 0px 0px 0px rgba(34, 36, 38, 0.15));
        &:first-child {
            @include box-shadow;
        }
    }
}


/** Types: Celled **/

.grid.grid-celled {
    @include box-shadow(0px 0px 0px 1px #D4D4D5);
    @include margin-h;
    @include margin-v;
    width: 100%;
    &.grid-relaxed {
        >.col:not(.row),
        >.row>.col {
            padding: 1.5rem;
        }
    }
    &.grid-exrelaxed {
        >.col:not(.row),
        >.row>.col {
            padding: 2rem;
        }
    }
    /* Celled Internal */
    &.grid-internal {
        margin: 0rem;
        @include box-shadow;
        >.row {
            &:first-child {
                @include box-shadow;
            }
            >.col:first-child {
                @include box-shadow;
            }
        }
    }
    >.row {
        @include box-shadow(0px -1px 0px 0px #D4D4D5);
        margin: 0rem;
        padding: 0rem;
        width: 100% !important;
        >.col {
            @include box-shadow(-1px 0px 0px 0px #D4D4D5);
            padding: 1rem;
            &:first-child {
                @include box-shadow;
            }
        }
    }
    >.col {
        &:not(.row) {
            @include box-shadow(-1px 0px 0px 0px #D4D4D5);
            padding: 1rem;
        }
        &:first-child {
            @include box-shadow;
        }
    }
}


/*** Content ***/


/** Content: Columns **/

.grid {
    >.col:not(.row),
    >.row>.col {
        @include padding-h;
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 100% / 16;
    }
    >* {
        @include padding-h;
    }
    /* Vertical padding when no rows */
    >.col:not(.row) {
        @include padding-v(1rem);
    }
    >.row>.col {
        @include margin-v;
    }
}


/** Content: Rows **/

.grid>.row {
    @include display(flex);
    @include flex-align;
    @include flex-direction(row);
    @include flex-wrap;
    @include padding-h(1rem);
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    position: relative;
    padding: 0rem;
    width: 100% !important;
    >.col {
        @include margin-v;
        /* Content */
        >img {
            max-width: 100%;
        }
    }
    /* Content */
    >img {
        max-width: 100%;
    }
}


/*** Variations ***/


/** Variations: Column Count **/

.grid>.col,
.grid>.row>.col {
    /* Full width with one column */
    &:only-child {
        width: 100%;
    }
}


/* Grid Based */

@for $i from 1 to 16 {
    .grid[class*="col-#{$i}"]>.row.col,
    .grid[class*="col-#{$i}"]>.col:not(.row) {
        width: 100% / $i;
    }
}


/* Row Based Overrides */

@for $i from 1 to 16 {
    .grid>.row[class*="col-#{$i}"]>.col {
        width: 100% / $i !important;
    }
}


/** Variations: Column Width **/

@for $i from 1 to 16 {
    /* Sizing Combinations */
    .grid,
    .grid>.row,
    .grid>.col.row,
    .grid.col {
        >.col-span[class*="col-span-#{$i}"] {
            width: 100% / 16 * $i !important;
        }
    }
    /* RWD Design */
    @each $item in $RWD {
        @include breakpoint1($item) {
            @for $i from 1 to 16 {
                .grid,
                .grid>.row,
                .grid>.col.row,
                .grid.col {
                    >.col-span[class*="grid-#{$item} col-span-#{$i}"] {
                        width: 100% / 16 * $i !important;
                    }
                }
            }
        }
    }
}


/** Variations: Colored **/

@each $index,
$value in $color-order {
    .grid {
        >.row-#{$index},
        >.col-#{$index},
        >.row>.col-#{$index} {
            background-color: $value !important;
            color: $white;
        }
        >.row>.col-#{$index} {
            @include margin-v(-1rem);
            @include padding-v;
        }
    }
}


/** Variations: Centered **/

.grid {
    &.centered,
    &.centered>.row,
    >.row.centered {
        text-align: center;
        justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }
    &.centered,
    &.centered>.row {
        >.col:not(.aligned):not(.justified) {
            text-align: left;
            &:not(.row) {
                text-align: left;
            }
        }
    }
    >.col.centered,
    >.row>.col.centered {
        @include margin-h(auto);
        display: block;
    }
    .row.centered>.col:not(.aligned):not(.justified) {
        text-align: left;
    }
}


/** Variations: Floated **/

@for $i from 3 to 4 {
    .grid .col.col-floated-#{nth($position-order, $i)} {
        margin-#{nth($position-order, $i)}: auto;
    }
}


/** Variations: Equal Width **/

.grid.grid-equal>.col:not(.row),
.grid.grid-equal>.row>.col,
.grid>.row.grid-equal>.col {
    display: inline-block;
    flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
}


/** Variations: Stretched **/

.grid.grid-stretched>.row>.col,
.grid.grid-stretched>.col,
.grid>.row.grid-stretched>.col,
.grid>.col.grid-stretched:not(.row),
.grid>.row>.col.grid-stretched {
    @include display(inline-flex);
    @include flex-direction;
    align-self: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-item-align: stretch;
    >* {
        flex-grow: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
    }
}


/** Variations: Padded **/

.grid.grid-padded {
    &:not(.grid-h):not(.grid-v) {
        margin: 0rem !important;
    }
    &.grid-h {
        @include margin-h(0rem !important);
    }
    &.grid-v {
        @include margin-v(0rem !important);
    }
}


/** Variations: Relaxed & Extra-relaxed**/

.grid {
    /* Relaxed */
    &.grid-relaxed {
        >.col:not(.row),
        >.row>.col {
            @include padding-h(1.5rem);
        }
        .row+.divider {
            @include margin-h(1.5rem);
        }
    }
    >.row.grid-relaxed>.col {
        @include padding-h(1.5rem);
    }
    /* Coupling with UI Divider */
    .grid.grid-relaxed.row+.divider {
        @include margin-h(1.5rem);
    }
    /* Extra-relaxed */
    &.grid-exrelaxed {
        >.col:not(.row),
        >.row>.col {
            @include padding-h(2.5rem);
        }
        .row+.divider {
            @include margin-h(2.5rem);
        }
    }
    >.row.grid-exrelaxed>.col {
        @include padding-h(2.5rem);
    }
    /* Divider */
    .grid.grid-exrelaxed.row+.divider {
        @include margin-h(2.5rem);
    }
}


/** Variations: Text Alignment **/

@each $item in $text-align-order {
    .grid.aligned.aligned-#{$item}>.col,
    .grid.aligned.aligned-#{$item}>.row>.col,
    .grid>.row.aligned.aligned-#{$item}>.col,
    .grid>.col.aligned.aligned-#{$item},
    .grid>.row>.col.aligned.aligned-#{$item} {
        align-self: inherit;
        text-align: $item;
        -ms-flex-item-align: inherit;
    }
}

.grid.aligned.aligned-center {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.grid.justified {
    @include hyphens;
    text-align: justify;
}

.grid .aligned.row>.col,
.grid.aligned .col {
    /* Section inside aligned grid */
    >.section {
        &:not(.section-compact):not(.section-attached) {
            width: 100%;
        }
    }
}


/** Variations: Vertical Alignment **/

@for $i from 1 to 3 {
    .grid.aligned.aligned-#{nth($aligned-order, $i)}>.col:not(.row),
    .grid.aligned.aligned-#{nth($aligned-order, $i)}>.row>.col,
    .grid>.row.aligned.aligned-#{nth($aligned-order, $i)}>.col,
    .grid>.col.aligned.aligned-#{nth($aligned-order, $i)}:not(.row),
    .grid>.row>.col.aligned.aligned-#{nth($aligned-order, $i)} {
        @include flex-direction;
        align-self: nth($align-self-order, $i) !important;
        vertical-align: nth($aligned-order, $i);
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -ms-flex-item-align: nth($flex-aligned-order, $i) !important;
    }
}


/*** Responsive Variations ***/


/** Responsive Variations: Reversed **/

@each $item in $RWD {
    /* RWD Design: Mobile / Tablet / Computer */
    @include breakpoint2($item) {
        .grid.grid-#{$item}.grid-reversed,
        .grid.grid-#{$item}.grid-reversed>.row,
        .grid>.grid-#{$item}.grid-reversed.row {
            @include flex-direction(row-reverse);
            -webkit-box-direction: reverse;
            -webkit-box-orient: horizontal;
        }
        .grid.grid-#{$item}.grid-reversed.grid-v,
        .grid-#{$item}.grid-reversed.grid-stacked {
            @include flex-direction(col-reverse);
            -webkit-box-direction: reverse;
            -webkit-box-orient: vertical;
        }
        /* Divided Reversed */
        .grid.grid-#{$item}.grid-reversed.grid-divided {
            &:not(.grid-v) {
                >.col,
                >.row>.col {
                    &:first-child {
                        @include box-shadow(-1px 0px 0px 0px rgba(34, 36, 38, 0.15));
                    }
                    &:last-child {
                        @include box-shadow;
                    }
                }
            }
            /* Vertically Divided Reversed */
            &.grid-v>.row {
                &:first-child:before {
                    @include box-shadow(0px -1px 0px 0px rgba(34, 36, 38, 0.15));
                }
                &:last-child:before {
                    @include box-shadow;
                }
            }
            /* Celled Reversed */
            &.grid-celled>.row>.col {
                &:first-child {
                    @include box-shadow(-1px 0px 0px 0px #D4D4D5);
                }
                &:last-child {
                    @include box-shadow;
                }
            }
        }
    }
}


/** Responsive Variations: Doubled **/


/* grid-only-sm */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .grid.grid-doubled {
        width: auto;
    }
    .grid>.row.grid-doubled,
    .grid.grid-doubled>.row {
        margin: 0rem !important;
        padding: 0rem !important;
        >.col {
            @include box-shadow(none !important);
            @include padding-v(1rem !important);
            display: inline-block !important;
            margin: 0rem;
        }
    }
    @for $i from 2 to 16 {
        .grid.grid-doubled[class*="col-#{$i}"]>.row>.col,
        .grid.grid-doubled[class*="col-#{$i}"]>.col:not(.row),
        .grid>[class*="col-#{$i}"].grid-doubled.row>.col {
            @if ($i==2) {
                width: 100% !important;
            }
            @else if ($i==3 or $i==4) {
                width: 100% / 2 !important;
            }
            @else if ($i>=5 and $i<=7) {
                width: 100% / 3 !important;
            }
            @else if ($i==8 or $i==9) {
                width: 100% / 4 !important;
            }
            @else if ($i==10 or $i==11) {
                width: 100% / 5 !important;
            }
            @else if ($i==12 or $i==13) {
                width: 100% / 6 !important;
            }
            @else if ($i==14 or $i==15) {
                width: 100% / 7 !important;
            }
            @else if ($i==16) {
                width: 100% / 8 !important;
            }
        }
    }
}


/* grid-only-md */

@media only screen and (max-width: 767px) {
    .grid>.row.grid-doubled,
    .grid.grid-doubled>.row {
        margin: 0rem !important;
        padding: 0rem !important;
        >.col {
            @include box-shadow(none !important);
            @include padding-v(1rem !important);
            margin: 0rem !important;
        }
    }
    @for $i from 2 to 16 {
        .grid.grid-doubled[class*="col-#{$i}"]:not(.grid-stacked)>.row>.col,
        .grid.grid-doubled[class*="col-#{$i}"]:not(.grid-stacked)>.col:not(.row),
        .grid>.grid-doubled[class*="col-#{$i}"]:not(.grid-stacked).row>.col {
            @if ($i==2) {
                width: 100% !important;
            }
            @else if ($i >=3 and $i <=8) {
                width: 100% / 2 !important;
            }
            @else if ($i >=9 and $i <=13) {
                width: 100% / 3 !important;
            }
            @else if ($i >=14 and $i <=16) {
                width: 100% / 4 !important;
            }
        }
    }
}


/** Responsive Variations: Stacked **/

@media only screen and (max-width: 767px) {
    .grid.grid-stacked {
        @include margin-h(0rem !important);
        width: auto;
        >.grid.col>.col,
        >.row.col>.col,
        >.row>.col,
        >.row>.col.col-span,
        >.col.col-span,
        >.col:not(.row) {
            @include box-shadow(none !important);
            margin: 0rem !important;
            padding: 1rem !important;
            width: 100% !important;
        }
        &:not(.grid-v)>.row {
            margin: 0rem;
            padding: 0rem;
        }
    }
    .grid>.grid-stacked.row>.col {
        @include box-shadow(none !important);
        margin: 0rem !important;
        padding: 1rem !important;
        width: 100% !important;
    }
    /* Coupling */
    .container>.grid.grid-stacked {
        >.col,
        >.row>.col {
            @include padding-h(0rem !important);
        }
    }
    /* No padded inside section or nested grid */
    .grid .grid.grid-stacked,
    .section:not(.grid-v) .grid.grid-stacked.container {
        @include margin-h(-1rem !important);
    }
    /* Divided Stackable */
    .grid.grid-stacked {
        &.grid-celled,
        &.grid-divided {
            >.col:not(.row),
            >.row:first-child>.col {
                &:first-child {
                    border-top: none !important;
                }
            }
            >.col:not(.row),
            >.row>.col {
                @include box-shadow(none !important);
                @include padding-v(2rem !important);
                border-top: 1px solid rgba(34, 36, 38, 0.15);
            }
            &:not(.grid-v) {
                >.col:not(.row),
                >.row>.col {
                    @include box-shadow(none !important);
                    @include padding-v(2rem !important);
                    border-top: 1px solid rgba(34, 36, 38, 0.15);
                }
            }
        }
        &.inverted {
            &.grid-celled,
            &.grid-divided {
                >.col:not(.row),
                >.row>.col {
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
    .grid.grid-stacked.grid-celled>.row {
        @include box-shadow(none !important);
    }
    .grid.grid-stacked.grid-divided:not(.grid-v) {
        >.col:not(.row),
        >.row>.col {
            @include padding-h(0rem !important);
        }
    }
}


/** Types: Device Visibility **/


/* grid-only-xs */

@media only screen and (max-width: 767px) {
    @each $item in RWD {
        @if ($item !=xs) {
            .grid[class*="grid-only-#{$item}"],
            .grid>[class*="grid-only-#{$item}"].row,
            .grid>[class*="grid-only-#{$item}"].col,
            .grid>.row>[class*="grid-only-#{$item}"].col {
                &:not(.grid-xs) {
                    display: none !important;
                }
            }
        }
    }
}


/* grid-only-sm */

@include breakpoint1(sm) {
    @each $item in RWD {
        .grid[class*="grid-only-#{$item}"],
        .grid>[class*="grid-only-#{$item}"].row,
        .grid>[class*="grid-only-#{$item}"].col,
        .grid>.row>[class*="grid-only-#{$item}"].col {
            @if ($item==xs or $item==md) {
                &:not(.grid-xs) {
                    display: none !important;
                }
            }
            @else if ($item==lg or $item==xl) {
                &:not(.grid-xs) {
                    display: none !important;
                }
            }
        }
    }
}


/* grid-only-md */

@include breakpoint1(md) {
    @each $item in RWD {
        .grid[class*="grid-only-#{$item}"],
        .grid>[class*="grid-only-#{$item}"].row,
        .grid>[class*="grid-only-#{$item}"].col,
        .grid>.row>[class*="grid-only-#{$item}"].col {
            @if ($item==xs or $item==sm) {
                &:not(.grid-md) {
                    display: none !important;
                }
            }
            @else if ($item==lg or $item==xl) {
                &:not(.grid-xs) {
                    display: none !important;
                }
            }
        }
    }
}


/* grid-only-lg */

@include breakpoint1(lg) {
    @each $item in RWD {
        .grid[class*="grid-only-#{$item}"],
        .grid>[class*="grid-only-#{$item}"].row,
        .grid>[class*="grid-only-#{$item}"].col,
        .grid>.row>[class*="grid-only-#{$item}"].col {
            @if ($item==xs and $item !=sm) {
                &:not(.grid-md) {
                    display: none !important;
                }
            }
            @else if ($item==xl) {
                &:not(.grid-xs) {
                    display: none !important;
                }
            }
        }
    }
}


/* grid-only-xl Hide */

@include breakpoint1(xl) {
    @each $item in RWD {
        .grid[class*="grid-only-#{$item}"]:not(.grid-md),
        .grid>[class*="grid-only-#{$item}"].row:not(.grid-md),
        .grid>[class*="grid-only-#{$item}"].col:not(.grid-md),
        .grid>.row>[class*="grid-only-#{$item}"].col:not(.grid-md) {
            @if ($item !=xl and $item !=lg and $item !=xs) {
                &:not(.grid-md) {
                    display: none !important;
                }
            }
        }
    }
}


/*** Overrides ***/


/* Remove border on last horizontal section */

.grid>.row,
.grid {
    >.col:last-child {
        >.section-h {
            @include box-shadow;
        }
    }
}