/*!
 * # papoGen 0.0.1 - Accordion
 * - Prefix: accordion
 */

/*** Types ***/
@mixin font(){
font:{
family:monospace;
weight:bold;
}
}
@mixin act{//accordion time
      -webkit-transition: max-height .35s;
   -o-transition: max-height .35s;
  transition: max-height .35s;
}

/** Types:accordion **/
.i{//icon setting
  margin:{
  left:1rem;
  right:1rem;
  }
  float:left;
}
.accordion {
 float: left;
 width: 50%;
 padding: 0 1em;
}
   
.tab {
  position: relative;
 width: fit-content;
 @include font();
input {//checkbox setting
 position: absolute;
 opacity: 0;
 z-index: -1;
 }

label {
 position: relative;
display: block;
 padding: 0 0 0 1em;
  line-height: 1.6;
  cursor: pointer;
 &::after {
  position: absolute;
   right: 0;
  top: 0;
  display: block;
   width: 3em;
   height: 3em;
   line-height: 3;
  text-align: center;
@include act;      
}
}
}

.tab-content {
 max-height: 0;
  overflow: hidden;
  @include font();                               
@include act;
}

   /* :checked */
  input:checked ~ .tab-content {
  max-height:10em;
 }
   /* Icon */
   input[type=checkbox]:checked +i{
 transform: rotate(90deg);
 }
/** Types:Styled **/
.tabs {//tab styled
  position: relative;
 width: fit-content;
 @include font();
  border:{
    style:solid;
     width:1px;
   }
   margin-bottom:-1px;
  color:rgba(#737373,.7);
&:hover{
color:black;
}
}
.top{//top label radius
  border-radius:5px 5px 0 0; 
}
.bottom{//bottom label radius
  border-radius:0 0 5px 5px; 
}
/*** Variations ***/

/** Variations:Fluid **/

.accordion.fluid {
 float: left;
 width: inherit;
 height:inherit;
 padding: 0 1em;
}
/** Variations:Inverted **/

.accordion.inverted {
 float: left;
 width: 50%;
 padding: 0 1em;
 background:black;
}

.tabi {//tab inverted
  position: relative;
 width: fit-content;
 @include font();
font-color:white;
}
.tab-contenti {
 max-height: 0;
  overflow: hidden;
  @include font();                               
color:white;
  @include act;
}
