/*!
 * # papoGen 0.0.1 - Breadcrumb
 * - Prefix: bread
 */
$sizes: (
  small: 0.8rem,
  medium: 1rem,
  big: 1.2rem,
  huge: 1.4rem
);

@each $name, $size in $sizes {
  .breadcrumb.#{$name} {
    font-family: 'Cabin', sans-serif;
    font-size: $size;
  }
}

.breadcrumb > a.section {
  text-decoration: none;
  cursor : pointer;
  color: #4183c4;
  display: inline;
  margin: 0.3em;
}

.breadcrumb > div.section {
  color: #000000;
  display: inline;
  margin: 0.3em;
}

.breadcrumb > i.divider,
.breadcrumb > div.divider {
  color: #c0c0c0;
  display: inline;
  font-size: 0.9em;
  opacity: 0.8;
}


.breadcrumb > .section.active {
  color: #000000;
  & > a {
    color: #4183c4;
    text-decoration: none;
  }
}
