/*!
 * # papoGen 0.0.1 - Checkbox
 * - Prefix: checkbox
 */


/* Types */

/*
<div class = "checkbox">
  <input type = "checkbox" id = "ex">
  <label for = "ex" text = "click"></label>
</div>
*/

// normal checkbox
.checkbox {
  input[type="checkbox"] {
    visibility: hidden;
  }
  label {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;

    cursor: pointer;
    white-space: nowrap;
    background: lightgrey;
    color: dimgrey;
    display: block;

    border-width: 0.05rem;
    border-color: darkgrey;
    border-radius: 0.15rem;

    &:before {
      content: "";
      border: 0.1rem solid dimgrey;
      position: absolute;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      width: 0.6rem;
      height: 0.4rem;
      top: 1.16rem;
      left: 2.9rem;
    }

    &:after {
      content: attr(text);
      position: absolute;
      margin-left: 1.3rem;
      top: 0.93rem;
    }

    &:hover {
      color: black;
      border-color: dimgrey;
    }

    input[type="checkbox"]:checked + label:before {
      opacity: 1;
    }
  }
}



