/*!
 * # papoGen 0.0.1 - Checkbox
 * - Prefix: checkbox
 */


/* Types */


/*
<div class = "checkbox">
  <input type = "checkbox" id = "ex">
  <label for = "ex" text = "click"></label>
</div>
*/

// normal checkbox
.checkbox {
    min-height: 1rem;
    min-width: 1rem;
    line-height: 1rem;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    input[type="checkbox"] {
        cursor: pointer;
        height: 1rem;
        position: absolute;
        top: 0rem;
        left: 0rem;
        visibility: hidden;
        width: 1rem;
    }
    input[type="checkbox"]:checked+label:after {
        opacity: 1;
    }
    label {
        @include user-select;
        cursor: auto;
        line-height: 1rem;
        outline: none;
        position: relative;
        display: block;
        padding-left: 1.3rem;
        white-space: nowrap;
       &:before {
            content: '';
            background: lightgrey;
            border-style: solid;
            border-width: 0.05rem;
            border-color: darkgrey;
            border-radius: 0.15rem;
            color: dimgrey;
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 0rem;
            left: 0rem;
            z-index: 3;
        }
        &:after {
            content: '';
            height: 0.6rem;
            width: 0.4rem;
            position: absolute;
            right: 2.58rem;
            top: 0.12rem;
            border: 0.1rem solid dimgrey;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
        }
        &:hover {
            color: black;
            border-color: dimgrey;
        }
    }
}











