/*!
 * # papoGen 0.0.1 - Divider
 * - Prefix: divider
 */


/*** Divider ***/

.divider {
    @include user-select(none);
    color: rgba(0, 0, 0, 0.85);
    font: {
        size: 1rem;
        weight: bold;
    }
    height: 0rem;
    letter-spacing: 0.05rem;
    line-height: 1;
    margin: 1rem 0rem;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:not(.divider-h) {
        @include border-v(1px solid rgba(34, 36, 38, 0.15), 1px solid rgba(255, 255, 255, 0.1));
    }
    /* Text & Icon Divider */
    >.icon {
        font-size: 1rem;
        height: 1rem;
        margin: 0rem;
        vertical-align: middle;
    }
}


/*** Types ***/


/** Types: Horizontal **/

.divider.divider-h {
    display: table;
    white-space: nowrap;
    height: auto;
    margin: 0rem;
    line-height: 1;
    text-align: center;
    &:before,
    &:after {
        background-repeat: no-repeat;
        content: '';
        display: table-cell;
        position: relative;
        top: 50%;
        width: 50%;
    }
    &:before {
        background-position: right 1rem top 50%;
    }
    &:after {
        background-position: left 1rem top 50%;
    }
}


/** Variations **/


/* Variations: Cleared */

.divider.divider-cleared {
    clear: both;
}


/* Variations: Compact */

.divider.divider-compact {
    margin: 0rem;
}


/* Variations: Hidden */

.divider.divider-hidden {
    border-color: transparent !important;
    &:before,
    &:after {
        display: none;
    }
}


/* Variations: Inverted */

.divider.divider-inverted {
    &,
    &.divider-h {
        color: $white;
    }
    &,
    &:before,
    &.after {
        border: {
            top-color: rgba(34, 36, 38, 0.15) !important;
            left-color: rgba(34, 36, 38, 0.15) !important;
            bottom-color: rgba(255, 255, 255, 0.15) !important;
            right-color: rgba(255, 255, 255, 0.15) !important;
        }
    }
}


/* Variations: Section */

.divider.divider-section {
    @include margin-v(2rem);
}


/** Overrides **/