/*!
 * # papoGen 0.0.1 - Header
 * - Prefix: hdr
 */
/*!
 /*** Types ***/
 
 /** Types:Page **/
 @mixin font_setting($size: 3rem){
color:black;
cursor:auto;
font:{
family:monospace;
size:$size;
weight:bold;
}
}

.first-header{
@include font_setting(3em);
}
.second-header{
@include font_setting(2.5em);
}
.third-header{
@include font_setting(2em);
}
.fourth-header{
@include font_setting(1.5em);
}
.fifth-header{
@include font_setting(1em);
}
/** Types:icon **/
@mixin font_setting($size: 3rem,$color){
   color:$color;
   cursor:auto;
   font:{
   family:monospace;
   size:$size;
  weight:bold;
   }
 }
.icon{
font-size:4rem;
text-align:center;
}
.first-header{
@include font_setting(1.5rem,black);
margin-top:-.5rem;
text-align:center;
}
.second-header{
@include font_setting(1rem,rgba(#cccccc,.7));
margin-top:-1.2rem;
text-align:center;
}

/** Types:SubHeader **/

@mixin font_setting($size: 3rem,$color){
   color:$color;
   cursor:auto;
    font:{
   family:monospace;
  size:$size;
   weight:bold;
  }
}
@mixin image_setting($size,$radius){
border-radius:$radius;
  width:$size;
    height:auto;
    margin-right:.6rem;
  }
 @mixin block(){
 &::after{
  visibility:hidden;
  display:block;
    font-size:0;
  content:"";
   clear:both;
    height:0;
      }
   }
 .m {
   @include image_setting(3rem,50%);
         float:left; 
        }
    .container1{
    .m-header{
   @include font_setting(1.5rem,black);
    margin:{
    top:.9rem;
    bottom:-1.2rem;
    }
       }
      .m-subheader{
      @include font_setting(1.5rem,rgba(115, 115, 115, 0.9));
      }
      @include block;
      
    }

      .el {
   @include image_setting(3rem,50%);
         float:left; 
        }
    .container2{
    .el-header{
   @include font_setting(1.5rem,black);
    margin:{
    top:.9rem;
    bottom:-1.2rem;
    }
        }
      .el-subheader{
      @include font_setting(1.5rem,rgba(115, 115, 115, 0.9));
      }
      @include block;
    }
 .e {
   @include image_setting(3rem,50%);
         float:left; 
        }
    .container3{
    .e-header{
   @include font_setting(1.5rem,black);
    margin:{
    top:.9rem;
    bottom:-1.2rem;
    }
        }
      .e-subheader{
      @include font_setting(1.5rem,rgba(115, 115, 115, 0.9));
      }
      @include block;
    }


/*** Content ***/

/** Content:SubHeader **/
@mixin font_setting($size: 3rem,$color){
color:$color;
cursor:auto;
font:{
family:monospace;
size:$size;
weight:bold;
}
}
.H1{
@include font_setting(3rem,black);
}
.sub1{
@include font_setting(0.92rem,rgba(#737373,.9));
margin-top:-0.92rem;
}
.H2{
@include font_setting(2.5rem,black);
}
.sub2{
@include font_setting(0.92rem,rgba(#737373,.9));
margin-top:-0.76rem;
}
.H3{
@include font_setting(2rem,black);
}
.sub3{
@include font_setting(0.8rem,rgba(#737373,.9));
margin-top:-0.62rem;
}
.H4{
@include font_setting(1.5rem,black);
}
.sub4{
@include font_setting(0.8rem,rgba(#737373,.9));
margin-top:-0.56rem;
}
.H5{
@include font_setting(1rem,black);
}
.sub5{
@include font_setting(0.76rem,rgba(#737373,.9));
margin-top:-0.4rem;
}
/** Content:Image **/
@mixin font_setting($size: 3rem,$color){
   color:$color;
   cursor:auto;
   font:{
   family:monospace;
   size:$size;
  weight:bold;
   }
}
@mixin image_setting($size,$radius){
  border-radius:$radius;
  width:$size;
  height:auto; 
}
@mixin block(){
&::after{
  visibility:hidden;
display:block;
font-size:0;
content:"";
clear:both;
height:0;
}
}
.image {
  @include image_setting(50px,0);
  float:left; 
}
.image-header{
@include font_setting(2rem,black);
@include block;
}
.picture{
@include image_setting(40px,50%);
float:left;
}
.picture-header{
@include font_setting(2rem,black);
@include block;
}
.plugin{
@include image_setting(50px,0);
float:left;
}
.container{
.plugin-header{
@include font_setting(2rem,black);
}
.plugin-subheader{
@include font_setting(10.5px,rgba(#737373,.9));
margin-top:-3px;
}
@include block;
}
/** Content:Icon **/
@mixin font_setting($size: 3rem,$color){
color:$color;
  cursor:auto;
   font:{
  family:monospace;
  size:$size;
  weight:bold;
  }
 }
  @mixin block(){
  &::after{
  visibility:hidden;
   display:block;
font-size:0;
 content:"";
 clear:both;
 height:0;
 }
}
.icon1{
font-size:3rem;
float:left;
}
.i1-header{
 @include font_setting(2rem,black);
 @include block;
 padding:{
 top:0.5rem;
 left:3rem;
 }
 }
 .icon2{
 font-size:3rem;
 float:left;
 margin-right:.8rem;
 }
 .container{
.i2-header{
@include font_setting(2rem,black);
 margin:{
 top:-.3rem;
 bottom:-1.5rem;
 } 
   }
 .i2-subheader{
   @include font_setting(1.8rem,rgba(#737373,.9));
     }
  @include block;
 }

/*** Variations ***/

/** Variations:Dividing **/
@mixin font_setting($size: 3rem,$color){
   color:$color;
   cursor:auto;
   font:{
   family:monospace;
   size:$size;
  weight:bold;
   }
}
@mixin divider-setting{
  border:{
  style:solid;
  top:0;
  left:0;
  right:0;
  width:1px;
  color:rgba(#cccccc,.7);
}
  padding-bottom:5px;
  margin-bottom:5px;
  
}

.divide-header {
  @include font_setting(1rem,black);
  @include divider-setting;
}
/** Variations:Block **/
@mixin font_setting($size: 3rem,$color){
   color:$color;
   cursor:auto;
   font:{
   family:monospace;
   size:$size;
  weight:bold;
   }
}
@mixin border_setting{
   padding:1rem 1rem 1rem 1.5rem;
   background:rgba(#e6e6e6,.7);
   border-radius:4px;
}


.content-header {
  @include font_setting(2rem,black);
  @include border_setting; 
}
