/*!
 * # papoGen 0.0.1 - Image
 * - Prefix: img
 */


/*** Image ***/

.img {
    background-color: transparent;
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    &img {
        display: block;
    }
    svg,
    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
}


/*** Variations ***/


/** Variations: Inline **/

.img-inline.img {
    &,
    img,
    svg {
        display: inline-block;
    }
}


/** Variations: Vertical Alignement **/

@each $item in $aligned-order {
    .imgs.img-aligned-#{$item} .img {
        display: inline-block;
        vertical-align: $item;
    }
    .img.img-aligned-#{$item} {
        &,
        img,
        svg {
            display: inline-block;
            vertical-align: $item;
        }
    }
}


/** Variations: Rounded **/

.img-rounded {
    &.img,
    &.img>*,
    &.imgs .img>* {
        border-radius: 0.3rem;
    }
}


/** Variations: Fluid **/

.img-fluid {
    &.img,
    &.imgs {
        &,
        img,
        svg {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}


/** Variations: Avatar **/

.img-avatar {
    &.img {
        &,
        img,
        svg {
            border-radius: 500rem;
            display: inline-block;
            height: 2rem;
            margin-right: 0.25rem;
            width: 2rem;
        }
    }
    &.imgs {
        .img,
        img,
        svg {
            border-radius: 500rem;
            display: inline-block;
            height: 2rem;
            margin-right: 0.25rem;
            width: 2rem;
        }
    }
}


/** Variations: Spaced **/

.img.img-spaced {
    @include margin-h(0.5rem);
    display: inline-block !important;
    &.img-spaced-left {
        margin-left: 0.5em;
        margin-right: 0em;
    }
    &.img-spaced-right {
        margin-left: 0em;
        margin-right: 0.5em;
    }
}


/** Variations: Floated **/

.img-floated {
    &,
    &.img-floated-left {
        &:last-child {
            margin-bottom: 0rem;
        }
        &.img,
        &.imgs {
            float: left;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
    &.img-floated-right {
        &.img,
        &.imgs {
            float: right;
            margin-right: 0rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
        }
    }
}


/** Variations: Centered **/

.img-centered {
    &.img,
    &.imgs {
        @include margin-h(auto);
    }
}


/** Variations: Size **/

@each $item in $size-order {
    .img-#{$item} {
        &.img {
            width: nth($img-width, index($size-order, $item));
            height: auto;
            font-size: nth($list-font-size, index($size-order, $item));
        }
        &.imgs {
            .img,
            img,
            svg {
                width: nth($img-width, index($size-order, $item));
                height: auto;
                font-size: nth($list-font-size, index($size-order, $item));
            }
        }
    }
}


/*** Groups ***/

.imgs {
    font-size: 0rem;
    margin: 0rem -0.25rem 0rem;
    .img,
    img,
    svg {
        display: inline-block;
        margin: 0rem 0.25rem 0.5rem;
    }
}


/** Overrides **/