/*!
 * # papoGen 0.0.1 - Input
 * - Prefix: input
 */
$width: (
  short: 9rem,
  medium: 13rem,
  long: 16rem
);

$size: (
  small: (9rem, 1rem, 0.8rem, 0.7rem),
  big: (13rem, 1.5rem, 1.2rem, 1.0rem),
  huge: (16rem, 2.5rem, 1.6rem, 1.25rem)
);


$colors: (
  default: #8ea6b4,
  red: #f67280,
  green: #7dc383,
  yellow: #fadc6d,
  blue: #85b7d9,
);

/* default */
.input > input {
  flex: 1 0 auto;
  border: 0.06rem #d4d4d4 solid;
  padding: 0.46rem 0.7rem;
  border-radius: 0.28rem;
  font-size: 0.8rem;
  font-family: Arial;
  text-align: left;
  outline: 0;
  width: 13rem;
  &::placeholder {
    color: #d3d3d3;
    opacity: 0.9;
  } 
}

/* color */
@each $name, $color in $colors {
  .input.#{$name} > input:focus {
    border-color: $color;
  }
  .input > input:focus::placeholder {
    color: #b1b1b1;
    opacity: 0.95;
  }
}

/* size */
@each $type, $attr in $width {
  .input.#{$type} > input {
    width: $attr; 
    
  }
}

/* size */
@each $type, $attr in $size {
  .input.#{$type} > input {
    width: nth($attr, 1);
    height: nth($attr, 2);
    font-size: nth($attr, 3);
    padding-left: nth($attr, 4);
  }
}

/* focus */
@each $name, $color in $colors {
  .input.focus.#{$name} > input {
    border-color: $color;
  }
}

/* disabled */
.input.disabled > input {
  pointer-events: none;
}
.input.disabled {
  opacity: 0.55;
}

/* error */
.input.error > input {
  border-color: map-get($colors, red);
  opacity: 0.75;
  background-color: fade-out(#ef7b7b, 0.8);
  
  &::placeholder {
    color: map-get($colors, red);
    opacity: 0.65;
  }
  &:focus::placeholder {
    color: map-get($colors, red);
    opacity: 0.9;
  }
  &:focus {
    border-color: map-get($colors, red) !important;
  }
}

/* transparent */
.input.transparent > input {
  border: none;
}

/* fluid */
.input.fluid {
  display: flex;
}
