/*!
 * # papoGen 0.0.1 - Label
 * - Prefix: label
 */

@import "../globals/_variables.scss";

/* Types */

// label
.label {
    margin: 0.25rem 0.25rem;
    opacity: 0.9;
    cursor: pointer;
    width: fit-content;
    height: auto;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    vertical-align: middle;
    background: #C4C4C4;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #C4C4C4;

    &:hover {
        opacity: 1;
    }
    // image
    img {
        width: 2rem;
        height: 2rem;
        float: left;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        margin-right: 1rem;
        // height, width of image depends on (font-size + 2*padding) * 14px
        // margin-right depends on label right padding (rem)
    }
    // icon
    i {
       margin: 0rem;
    }

    @each $pos, $val in (right: left, left: right) {
        i.#{$pos} {
            margin-#{$val}: 1rem;
        }
    }
}

// horizontal
.label.horizontal {
    display: inline;
}


/* Content */

.label {
    .detail {
        margin: 0rem 0rem 0rem 1rem;
    }
}


/* Variations */

// circular
.circular.label {
    border-radius: 0;
}

// basic
// color
@each $type,
$col in $color-order {
    .label.#{$type} {
        color: $col;
        background: $col;
        border-color: $col;
    }
}

// frame or fill
$frame: (fill: none, line: solid);
@each $type,
$val in $frame {
    .label.#{$type} {
        border-style: $val;
        @if ($type=='line') {
            border-width: 0.1rem;
            background: $white;
        }
        @else {
            color: $white;
        }
    }
}

// size
$size: ( small: (0.5rem, 0.1rem, 1rem), medium: (1rem, 0.5rem, 1rem), large: (1.5rem, 1rem, 2rem));
@each $type,
$attr in $size {
    .label.#{$type} {
        font-size: nth($attr, 1);
        padding: nth($attr, 2) nth($attr, 3);
        img {
            width: nth($attr, 1)*2;
            height: nth($attr, 1)*2;
            margin-right: nth($attr, 1);
        }
        i {
            margin: 0rem 0rem 0rem nth($attr, 1);
        }
        i.left {
            margin: 0rem nth($attr, 1) 0rem 0rem;
        }
        .detail {
            margin: 0rem 0rem 0rem nth($attr, 1);
        }
    }
}

// image
.image.label {
    display: flex;
    align-items: center;
    padding: 0rem 1rem 0rem 0rem;
}


/* Groups */
.labels {
    display: flex;
    align-items: center;
    flex-direction: row;
}

$position: ( down: ('top-left', 'top-right'), up: ('bottom-left', 'bottom-right'), right: ('top-left', 'bottom-left'), left: ('top-right', 'bottom-right'), center: (0));
@each $type,
$attr in $position {
    .label.#{$type} {
        @if ($type=='center') {
            border-radius: 0;
        }
        @else {
            border-#{nth($attr, 1)}-radius: 0;
            border-#{nth($attr, 2)}-radius: 0;
        }
    }

    @each $pos, $val in (right: left, left: right) {
        .label.#{$type} {
            i.#{$pos} {
                margin: 0rem;
                margin-#{$val}: 1rem;
            }
        }
    }
}




