/*!
 * # papoGen 0.0.1 - Header
 */
/*
papoGen type  page Header
 */
@mixin font_setting($size: 3rem){
color:black;
cursor:auto;
font:{
family:monospace;
size:$size;
weight:bold;
}
}

.first-header{
@include font_setting(3em);
}
.second-header{
@include font_setting(2.5em);
}
.third-header{
@include font_setting(2em);
}
.fourth-header{
@include font_setting(1.5em);
}
.fifth-header{
@include font_setting(1em);
}

/*
 papoGen content sub Header
 */
@mixin font_setting($size: 3rem,$color){
color:$color;
cursor:auto;
font:{
family:monospace;
size:$size;
weight:bold;
}
}
.H1{
@include font_setting(3rem,black);
}
.sub1{
@include font_setting(12px,rgba(#737373,.9));
margin-top:-12px;
}
.H2{
@include font_setting(2.5rem,black);
}
.sub2{
@include font_setting(12px,rgba(#737373,.9));
margin-top:-10px;
}
.H3{
@include font_setting(2rem,black);
}
.sub3{
@include font_setting(10.5px,rgba(#737373,.9));
margin-top:-8px;
}
.H4{
@include font_setting(1.5rem,black);
}
.sub4{
@include font_setting(10.5px,rgba(#737373,.9));
margin-top:-7px;
}
.H5{
@include font_setting(1rem,black);
}
.sub5{
@include font_setting(10px,rgba(#737373,.9));
margin-top:-5px;
}
/*
content image header
*/
@mixin font_setting($size: 3rem,$color){
   color:$color;
   cursor:auto;
   font:{
   family:monospace;
   size:$size;
  weight:bold;
   }
}
@mixin image_setting($size,$radius){
  border-radius:$radius;
  width:$size;
  height:auto; 
}
@mixin block(){
&::after{
  visibility:hidden;
display:block;
font-size:0;
content:"";
clear:both;
height:0;
}
}
.image {
  @include image_setting(50px,0);
  float:left; 
}
.image-header{
@include font_setting(2rem,black);
@include block;
}
.picture{
@include image_setting(40px,50%);
float:left;
}
.picture-header{
@include font_setting(2rem,black);
@include block;
}
.plugin{
@include image_setting(50px,0);
float:left;
}
.container{
.plugin-header{
@include font_setting(2rem,black);
}
.plugin-subheader{
@include font_setting(10.5px,rgba(#737373,.9));
margin-top:-3px;
}
@include block;
}
