/*!
 * # papoGen 0.0.1 - Header
 */
@mixin content($size:3rem){
  color:black;
  font:{
  family:monospace;
  size:$size;
  weight:bold;
}

.first_header{
  @include content(3rem);
}
.second_header{
  @include content(2.5rem);
}
.third_header{
  @include content(2rem);
}
.fourth_header{
  @include content(1.5rem);
}
.fifth_header{
  @include content(1rem);
}
